[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
"aniso8601" = "*"
bcrypt = "*"
cffi = "*"
click = "*"
graphene = "*"
graphene-sqlalchemy = "*"
graphql-core = "*"
graphql-relay = "*"
greenlet = "*"
gunicorn = "*"
"iso8601" = "*"
itsdangerous = "*"
meinheld = "*"
nose = "*"
promise = "*"
pycparser = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
singledispatch = "*"
six = "*"
typing = "*"
Flask = "*"
Flask-Bcrypt ="*"
Flask-GraphQL = "*"
Flask-JWT-Extended = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
"Jinja2" = "*"
Mako = "*"
MarkupSafe = "*"
PyJWT = "*"
Rx = "*"
SQLAlchemy = "*"
Werkzeug = "*"
pytest = "*"
black = "*"
sqltap = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
